#gme-image-mini-grid {
  margin-top: 1rem;
  width: 250px;

  .gme-image-mini-grid__title {
    font-weight: bold;
    color: gray;
    margin-bottom: 0.1rem;
  }

  .gme-image-mini-grid__grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .gme-image-mini-grid__image {
    width: 100%;
  }

  .gme-image-mini-grid__button {
    margin-top: 1rem !important;
  }

  .gme-image-mini-grid__downloads {
    margin-top: 0.5rem;
  }
}
