.poster-grid-wrapper {
  margin-top: 2rem;

  p {
    margin-bottom: 1rem;
  }

  .poster-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;

    .poster-grid__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      a {
        margin-top: 0.25rem;
      }
    }
  }
}
