img {
    border-radius: 0;
}
.stage.portrait {
    height: 100%;
}
.cld-image {
    height: 100%;
}

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
    margin-bottom: 0;
}

.header-widget-region .col-full {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.header-widget-region .widget {
    margin: 0;
    padding: 0;
    height: 50vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-widget-region .widget img {
    width: 100%;
}

/* Woocommerce */
@media (min-width: 768px) {
    .storefront-full-width-content.single-product
        div.product
        .woocommerce-product-gallery {
        width: 60%;
    }
    .storefront-full-width-content.single-product div.product .summary {
        width: 25%;
    }
}

/* Cloudinary mini grid */
.cloudinary-mini-grid {
    margin-top: 1rem;
}

.cloudinary-mini-grid__title {
    font-weight: bold;
    color: gray;
    margin-bottom: 0.1rem;
}

.cloudinary-mini-grid__grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.cloudinary-mini-grid__image {
    width: 100%;
}
